{% extends 'base.html.twig' %}

{% block title %}Liste des Editeurs
{% endblock %}

{% block body %}
	<section class="container px-4">
		<h1>Liste des Editeurs</h1>
		<ul class="list-group list-group-flush">
			{% for editor in editors %}
				<div class="card mb-1">
					<div class="card-body">
						<div class="card-title d-flex justify-content-between">

							<a href="{{ path('app_admin_editor_show', {'id': editor.id}) }}" class="stretched-link link-dark">
								<h4>
									{{ editor.name }}</h4>
							</a>

							<smallclass="text-muted">identifiant
								{{ editor.id }}</small>
						</div>
					</div>
				</div>
			{% else %}
				<li>Aucun enregistrement en base de données.</li>
			{% endfor %}
		</ul>

	</section>
	{# Affichage de la pagination #}
	<div class="pagination">
		{{ pagerfanta(editors, {
        'prev_message': 'Précédent',
        'next_message': 'Suivant'
    }) }}
	</div>
{% endblock %}
