body {
    background-color: white
}

/*
#sfwdtfeca3f { display: block !important;}
.sf-toolbar { display: block !important; }
.sf-toolbar .sf-toolbar-content { display: block !important; }
*/
#sfwdtfeca3f .sf-toolbar .sf-toolbar-block.security {
    display: block !important;
}
